body {
	background: white;
	font: 13px/1.4 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	color: #333;
	word-wrap: break-word;
	margin:0;
}

div {
    background-color: white;
}

.button_create_issue {
	margin-left: 10px;
	/* float: right; */
	color: #FFF;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15);
	background-color: #60B044;
	background-image: linear-gradient(#8ADD6D, #60B044);
	border-color: #5CA941;

	position: relative;
	display: inline-block;
	padding: 6px 12px;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;

	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #D5D5D5;
	border-radius: 3px;
	-moz-user-select: none;
	text-decoration: none;
	box-sizing: border-box;

	word-wrap: break-word;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}
table.issue_list td {
    line-height: 20px;
}

table.issue_list td.message a {
    color: #888;
}

table.td:focus table.td:hover{
    background-color: #F5F9FC;
}

table.issue_list td.message a:hover {
    color: #4078C0;
}

table.files td.message a {
    color: #888;
}

a:active, a:hover {
    outline: 0px none;
}

table.files td.message a:hover {
    color: #4078C0;
}

/* ----------------------- */

a{	background-color:transparent; }

a:hover,a:active {
	text-decoration: underline;
	outline:0;
}

a{
	color:#4078c0;
	text-decoration:none;
}

.a{
	color:#6cc644;
}

/* ----------------------- */

			.issue_metadata {
				padding: 0.5 0.5 0.5em;
				margin: 1em;
				border-style: solid;
				border-width: 0.1em;
			}

			.issue_metadata p {
				margin: 0.5em;
			}

			.issue_comments {
				margin-bottom: 1em;
			}

			.issue_comment_content {
				padding: 0.5 0.5 0.5em;
				border-style: solid;
				border-width: 0.1em;
			}

			.issue_comment_content p {
				margin: 0.5em;
				white-space: pre-wrap;
				font-family: Monospace;
			}

			.issue_comment_children {
				padding-left: 3em;
			}

			.issue_comment_summary {
				display: none;
			}

			.issue_comment_container {
				display: block;
			}

			.issue_comment_collapser {
				margin-left: -0.5em;
				font-size: large;
				float: left;
				background: #D3D3D3;
				width: 0.5em;
				text-align: center;
			}

			.issue_comment_collapser a {
				text-decoration: none;
			}

			.field_select_box {
				padding: 0.5 0.5 0.5em;
				margin: 1em;
				border-style: solid;
				border-width: 0.1em;
			}

			.field_select_item {
				display: inline-block;
			}

			.filter_select_box {
				padding: 0.5 0.5 0.5em;
				margin: 1em;
				border-style: solid;
				border-width: 0.1em;
			}

			.filter_select_item {
				margin: 0.5em;
				display: inline-block;
			}

			.issue_list table {
				border-style: solid;
				border-width: 0.1em;
				margin-top: 1em;
				margin-bottom: 1em;
				margin-left: auto;
				margin-right: auto;
				width: 90%;
			}

			.issue_list td {
				padding-right: 0.5em;
				padding-left: 0.5em;
				text-align: center;
			}

			.issue_list th {
				padding-right: 0.5em;
				padding-left: 0.5em;
				text-align: center;
				font-size: 125%;
			}

			.issue_list a:link { text-decoration: none; }
			.issue_list a:hover { text-decoration: underline; }

			/* Separate tr1 and tr2 to alternate colours */
			.issue_list_tr0 {
				background: #FFFFFF;
			}

			.issue_list_tr1 {
				background: #D3D3D3;
			}

			.add_comment p {
				margin: 0.5em;
			}

			.add_comment textarea {
				font-family: Monospace;
			}

			.new_issue_metadata {
				width: 100%;
			}

			.new_issue {
				margin: 0.5em 0.5em 0.5em 0.5em;
			}

			.new_issue textarea {
				font-family: Monospace;
			}

			.new_issue_text_wrapper {
				width: 100%;
				float: left;
				margin-bottom: 1em;
			}

			.new_issue_metadata_column {
				float: left;
				padding-right: 2em;
				margin: 0em;
			}

			.command_button {
				float: left;
			}

			.command_bar {
				width: 100%;
			}

			.schedule table {
				border-style: solid;
				border-width: 0.1em;
				margin-top: 1em;
				margin-bottom: 1em;
				margin-left: auto;
				margin-right: auto;
			}

			.schedule td {
				padding-right: 0.5em;
				padding-left: 0.5em;
				text-align: center;
			}

			.schedule_td {
				overflow: hidden;
			}

			.schedule th {
				padding-right: 0.5em;
				padding-left: 0.5em;
				text-align: center;
				vertical-align: bottom;
				font-size: 125%;
			}

			.schedule_user {
				width: 0.5em;
			}

			.schedule_user th {
				width: 1em;
				letter-spacing: 0.1em;
				text-align: center;
			}

			.schedule a:link { text-decoration: none; }
			.schedule a:hover { text-decoration: underline; }

			/* Separate col1 and col2 to alternate colours */
			.schedule_col0 {
				background: White;
			}

			.schedule_col1 {
				background: LightGrey;
			}

			.schedule_gap {
				background: Aquamarine;
			}

			.schedule_fixby0 {
				background: Aqua;
			}

			.schedule_fixby1 {
				background: BurlyWood;
			}

			.schedule_fixby2 {
				background: Chartreuse;
			}

			.schedule_fixby3 {
				background: Coral
			}

			.schedule_fixby4 {
				background: DarkKhaki;
			}

			.schedule_fixby5 {
				background: DarkSeaGreen;
			}

			.schedule_fixby6 {
				background: DarkTurquoise;
			}

			.schedule_fixby7 {
				background: GhostWhite;
			}

			.schedule_fixby8 {
				background: Gold;
			}

			.schedule_fixby9 {
				background: GreenYellow;
			}

			.schedule_fixby10 {
				background: Lavender;
			}

			.schedule_fixby11 {
				background: LightBlue;
			}

			.schedule_fixby12 {
				background: LightPink;
			}
